#board {
  margin-top: 10px;

}

.box {
  border: 1px solid black;
  height: 150px;
}

.row {
	text-align: center;
	font-size: 30px;

}

#reset {
	text-align: center;
	font-size: 60px;
	margin-top: 20px;
}

.disable {
	font-size: 130px;
}

div.col-sm-4.box {
	background: #25408D;
}

body {
	background: #16C588;
}

h1 {
	font-family: 'Bungee Shade', cursive;
	font-size: 80px;
}



